langchain==0.3.24 
langchain-community==0.3.14 
langchain-openai==0.1.8 
langchain-core==0.3.29 
langchain-ollama==0.2.2 
unstructured==0.14.4 
onnxruntime==1.17.1 
chromadb 
openai==1.31.1
tiktoken==0.7.0
pypdf==5.4.0
pydantic==2.9.2
langchain-docling
sentence-transformers==4.1.0
langchain-chroma 
langchain-huggingface
chainlit